/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px !important

.border {
  border: 1px solid #DDD;
}

.padding {
  padding: 10px;
}

.mt-1
  margin-top: 1em;

.transparent {
  background-image: linear-gradient(to right, rgba(192, 192, 192, 0.75), rgba(192, 192, 192, 0.75)),
          linear-gradient(to right, black 50%, white 50%),
          linear-gradient(to bottom, black 50%, white 50%);
  background-blend-mode: normal, difference, normal;
  background-size: 2em 2em;
}

.bg-white {
  background-color: white;
}

.v-middle {
  vertical-align: middle;
}

code.formula {
  display: block;
  color: unset;
  padding: 10px;
}

code.formula strong {
  color: #00aff0;
}


.theme-default-content img {
  height: auto
}

.color_code {
  color: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

.theme-default-content code{
  color: #ff5722;
}

.custom-block .custom-block-title{
  margin-bottom: inherit;
}

a .icon.outbound
  display: none

.video-block {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  width: 100%; height: auto;}

.video-block iframe {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;}
